[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Erika Barbosa
	email = erikaregis42@gmail.com
[core]
	editor = subl
[safe]
	directory = C:/Users
